.content2{
    &__title{
        >h2{
            margin-top: 80px;
            margin-bottom: 7px;
            padding: 10px;
        }

        >h4{
            margin-bottom: 59px;
            padding: 10px;
        }
    }
}