//immagine header di sfondo 
header{
    background: url("../images/bg-header-mobile.png") no-repeat;
    color: $white;
    background-size: cover;
    background-position: bottom center;

    @media (min-width: $min-desktop){
        background: url("../images/bg-header.png") no-repeat;
    }
}

.header{
    &__navbar{
        //logo, menu e social disposti orizzontalmente
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: auto;
        margin-right: auto;

        &__container{
            //logo e menu orizzontali (desktop larghezza max)
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            margin: 17px 16px;

            &__logo{
                padding: 10px;

                @media (min-width: $min-desktop){
                    padding: 39px 270px 39px 0px;
                }
            }

            &__menu{
                font-size: 15px;
                line-height: 18px;

                padding: 23px;

                //icona menu non visibile (desktop)
                >img{
                    @media (min-width: $min-desktop){
                        display: none;
                    }
                }

                //elenco non visibile (mobile)
                >nav{
                    display: none;

                    @media (min-width: $min-desktop){
                        display: inline-block;
                        padding: 53px 6px 53px 40px;
                    }
                    //lista orizzontale e messa in linea
                    >ul{
                        @include horizontal-list;
                    }
                }

                //voci di menu spostate a sinistra del logo
                @media (min-width: $min-desktop){
                    order: -1;
                }
            }

            @media (min-width: $min-desktop){
            margin: 0px;
        }
        }

        &__socials{
            //social non visibili (mobile)
            display: none;
            //lista orizzontale e messa in linea
            >ul{
                width: 175px;
                @include horizontal-list;
                >li{
                    margin-right: 24px;
                }
            }

            @media (min-width: $min-desktop){
                display: inline-block;
                padding: 57px 40px 57px;
            }
        }
    }

    &__content{
        padding: 30px 20px;

        //flex verticale centrato
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        //margini e padding h1 a seconda del device
        >h1{
            padding: 50px 13px 0px 13px;
            margin: 0px 0px 17px 0px;
            width: 350px;

            @media (min-width: $min-desktop){
                margin: 0px 47px 7px 47px;
                padding: 10px;
                width: 672px;
            }
        }

        //scritta a comparsa solo su mobile
        .only-mobile{
            margin: 7px 34px 59px 34px;
            padding: 10px;
        }

        //scritta a comparsa solo su desktop
        .only-desktop{
            padding: 10px;
            margin-bottom: 70px;
        }

        @media (min-width: $min-desktop){
            padding: 80px 0px;
        }

        >button{
            margin: 0px 90px 267px 90px;
        }
    }
}