.main{
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__title{
            >h2{
                margin-top: 80px;
                margin-bottom: 7px;
                padding: 10px;

                @media (min-width: $min-desktop){
                    margin-top: 1px;
                }
            }

            >h4{
                margin-top: 0px;
                margin-bottom: 50px;
                padding: 10px;

                @media (min-width: $min-desktop){
                    margin-bottom: 80px;
                }
            }
        }

        &__video{
            width: 100%;
            margin-bottom: 50px;

            >div {
                overflow: hidden;
                filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15));
                max-width: 1177px;
                border-radius: 40px;
                margin: 0 auto;
            }

            @media (min-width:$min-desktop){
                order:3;
            }
        }

        &__features{
            >ul{
                @include reset-list;
                padding: 18px 0px;
                margin-bottom: 80px;

                >li{
                    >img{
                        margin-top: 70px;
                    }

                    >h3{
                        margin: 10px 0px;
                        padding: 10px;
                    }

                    >p{
                        padding: 0px 10px;
                    }
                }

                @media (min-width:$min-desktop){
                    @include horizontal-list;
                    padding: 0px 0px;
                    
                    >li:nth-child(2){
                        margin: 0px 52px 33px 52px;
                    }
                    order: 2;
                }
            }
        }
    }
}