.news{
    &__title{
        >h3{
            margin-top: 80px;
        }

        >h2{
            margin: 7px 0px;
            padding: 10px;

            @media(min-width: $min-desktop){
                padding: 10px 0px;
            }
        }

        >h4{
            padding: 10px;
            margin: auto;
        }

        @media (min-width: $min-desktop){
            text-align: left;
        }
    }

    &__image{
        >img{
            padding: 20px;
            margin: 59px 0px;
        }

        @media (min-width: $min-desktop){
            order: -1;
        }
    }

    &__sub{
        display: flex;
        flex-direction: column;
        align-items: center;

        >h3{
            margin-top: 69px;
        }

        >p{
            margin: 10px 0px;
        }

        >input{
            margin-top: 24px;
            margin-bottom: 12px; 
        }

        >button{
            margin-bottom: 114px;
        }

        @media (min-width: $min-desktop){
            align-items: self-start;
            text-align: left;
        }
    }

    @media (min-width: $min-desktop){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 115px;
        position: relative;

        &__title{
            position: absolute;
            top: 0px;
            left: 1000px;
        }

        &__sub{
            position: absolute;
            top:300px;
            left:1000px;

            >h3{
                margin-top:25px;
                margin-bottom: 0px;
            }
        }
    }
}