.button{
    background-color: $blue;
    color: $white;
    border-radius: 35px;
    padding: 16px 0px;
    width: 236px;
    border-color: transparent;

    &--bold{
        font-family: $font-base-bold;
    }

    &--sub{
        color: $black;
        background-color: $gray;
    }
}

button{
    @extend .button;
}