//Colori
$color-text: #374754;
$blue: #2091F9;
$white: #FFFFFF;
$dark-background: #252B42;
$color-button-text: $white;
$color-button-bg: $blue;
$color-input-text: #18171D;
$bg-color: $white;
$black: #18171D;
$gray: #F4F4F4;

//Font
$font-base: 'Graphik Regular';
$font-base-bold: 'Graphik Bold';
$font-size-base: 18px;

//Dimensioni
$h1-size: 74px;
$h2-size: 48px;
$h3-size: 20px;
$h4-size: 28px;
$h6-size: 16px;
$p-size: 18px;

$spacing: 0.2px;

//Breakpoints
$max-mobile: 991px;
$min-desktop: 992px;